h1, h2, h3 {
    font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
};

body, p {
    font-family: 'Montserrat', sans-serif;
}

#nav-logo{
    height: 20%;
    width: 20%;
    margin: 1em 0 1em 2em;
}

.hero p {
    color: white;
}

#crown-logo {
    width: 10em;
}

#date, #location {
    margin: 0;
}

button{
    border-radius: 3em;
}

#learn-more-btn {
    background-color: #d19f2a;
}

.slideshow {
    height: 600px;
}
#testamonial-1 {
    height: 12em;
    width: 12em
}

#contactus {
    background-color: #d19f2a;
}

.footer-container {
    display: block;
    text-align: center;
}

#motto{
    font-family: 'Montserrat', sans-serif;
    font-size: .7em;
    margin: 0 .5em 0 .5em;
}

#copyright-statement {
    font-family: 'Montserrat', sans-serif;
    font-size: .7em;
}

.hero-text {
    margin: 1em;
}

#navhamburger {
    margin: 1em;
}

#mobilenav {
    margin: 1em;
}

#mobilenav a {
    color: #4FA9B3;
}

.uk-nav-divider {
    border-bottom: 1px solid #4FA9B3;
}

.hidden {
    display: none;
}

em {
    color: #4FA9B3;
}


@media only screen and (min-width: 759px) {
    #navhamburger {
      display: none;
    }
  }

@media only screen and (max-width: 760px) {
    .top-nav{
      display: none;
    }
    .hero-img {
        height: 600px;
    }

  }