h1, h2, h3 {
    font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
};

body {
    font-family: 'Montserrat', sans-serif;
}

/* .uk-slideshow-items {
    height: 100%;
} */

#crown-logo {
    width: 10em;
}

#testamonial-1 {
    height: 12em;
    width: 12em
}